* {
  font-family: Helvetica, sans-serif;
}

header,
footer {
  background: #333;
  height: 100px;
}

nav {
  /* border: 3px dashed orange; */
  width: 960px;
  margin: 0px auto;
}

header img {
  float: left;
  margin-top: 15px;
  margin-right: 60px;
}

nav li {
  display: inline-block;
  margin-top: 40px;
  margin-right: 75px;
}

a {
  text-decoration: none;
  color: #888;
}

main {
  width: 960px;
  margin: 30px auto;
}

ul {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 0px;
  padding-right: 0px;
}

main ul li {
  display: inline;
}

#middle-image {
  padding-left: 25px;
  padding-right: 25px;
}

div {
  display: inline;
}

div p {
  width: 450px;
  overflow: scroll;
  margin: 0px;
  margin-right: 0px;
}

button {
  color: white;
  background-color: black;
  z-index: 5;
}

section img {
  float: left;
  padding-right: 30px;
}

button:hover {
  background-color: #888;
  transition: background-color .35ms;
}